/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rubik+Dirt&display=swap');

/* VARIABLE CSS */
:root{
  --header-height: 3rem;

  /* COLORS */
  --hue-color: ;
  
  /* HSL COLOR MODE */
  --first-color: hsl(250, 69%, 61%);
  --first-color-second: ;
  --first-color-alt: ;
  --first-color-lighter: ;
  --title-color: ;
  --text-color: ;
  --text-color-light: ;
  --input-color: ;
  --body-color: ;
  --container-color: ;

  
}